<!doctype html>
<html lang="en">

<head>
  <title>Request document number</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='style/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style/account.css') }}">
</head>

<body>
  {% from "common/popup_message.html" import popup %}
  {{ popup(msg, msg_type) }}

  <div class="form">
    <div class="form-container">
      <div class="form-content">
        <h2 class="caption">Request the document:</h2>
        <form action={{ url_for('account.account_info') }} method="post" class="form-form">
          <input type="hidden" name="csrf-token" value="{{csrf}}" />

          {% from "common/form_field.html" import form_field %}
          {{ form_field(form.password) }}

          <div class="links">
            <a href="{{url_for('account.account_info')}}" class="link">Go back</a>
            <a></a>
          </div>

          <div class="input-box">
            <input type="submit" value="Request">
          </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>