<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>400</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/error_handling.css') }}">
</head>

<body>
    <div class="error-container">
        <h2 class="error-caption">400</h2>
        <h3 class="error-description">BAD REQUEST</h3>
        <div class="link"> <a href="{{url_for('index')}}">Go back</a></div>
    </div>
</body>

</html>