<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Password restore</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style/password_restore.css') }}">
</head>

<body>
  {% from "common/popup_message.html" import popup %}
  {{ popup(msg, msg_type) }}

  <div class="container">
    <div class="main-container main-container-gap">
      <h2 class="caption">Done!</h2>
      <h3 class="small-caption-white">We've sent you a link to {{email}}</h3>
      <p class="under-caption">Fast! Check your e-mail, the link is only active for 1 hour!</p>
      <a href="{{ url_for('index') }}" class="link-accent">Go to main page</a>
    </div>
  </div>

</body>

</html>